*{
    box-sizing:border-box;
}
body{
   text-align:center;
  overflow:auto; background-image:repeating-conic-gradient(circle at 0% 30%,#2aa22a 20%,#aaa9ab 25%,#cdcdcd);
        border-radius:10px;
        box-shadow:4px 4px 5px rgba(240,240,240,.3),
    -4px -4px 5px rgba(250,250,250,.3), inset 6px 6px 6px rgba(225,225,225,.3), inset -6px -6px 6px rgba(224,224,224,.3);

}
.img{
        width:101%;
        height:auto;
      
        transition:all 5s;
        background-image: repeating-linear-gradient(45deg,#aaaaaa 20%,#ababab 15%,#cdcdcd);
        border-radius:90px;
        box-shadow:4px 4px 5px rgba(240,240,240,.3),
    -4px -4px 5px rgba(250,250,250,.3), inset 6px 6px 6px rgba(225,225,225,.3), inset -6px -6px 6px rgba(224,224,224,.3);

text-align:center;  
}
.active{
    overflow:auto;
        transform:scale(1);
        
                transition:all 5s;
                display:flex;
                flex-flow:column wrap;
                justify-content:center;
                align-items:center;
           background-image: repeating-linear-gradient(45deg,#aaaaaa 20%,#ababab 15%,#cdcdcd);
        border-radius:90px;
        box-shadow:4px 4px 5px rgba(240,240,240,.3),
    -4px -4px 5px rgba(250,250,250,.3), inset 6px 6px 6px rgba(225,225,225,.3), inset -6px -6px 6px rgba(224,224,224,.3);

text-align:center;
font-size:5em;       
}
.fig{
       
        transform:scale(0);
        text-align:center;
        transition:transform 5s;
        display:none;
        font-family:'Aladin', Serif;
}
#images{
        display:flex;
        flex-flow:column wrap;
        height:100vh;
        width:100vw;
        justify-content:center;
        align-items:center;
}
.answers{
        
        display:grid;
        grid-template-columns:auto auto auto;
        grid-gap:2em;
        width:100%;
        text-align:center;
}
#question{
        position:absolute;
        top:0;
        left:0;
        font-family:"Pacifico", "corinthia", serif;
}
.qImg{
 
        width:4em;
        height:auto;
        border-radius:12px;
        box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.restart{
        background-color:black;
        color:white;
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
 
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 1;
  }
  .inner{
        background-color:black;
  width: 100%;
  height: 100vh;
    display:flex;
  align-items: center;
  justify-content: center;
 flex-flow:column wrap;
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 2;  
  }
#restart{
        border:none;
        display:inline-block;
        padding:8px 16px;
        vertical-align:middle;
        overflow:hidden;
        text-decoration:none;
        color:inherit;
        background-color:inherit;
        text-align:center;
        cursor:pointer;
        white-space:nowrap;
}
.loader{
    background-image:repeating-linear-gradient(45deg,#aaaaaa 20%,#ababab 15%,#cdcdcd);
        border-radius:90px;
        box-shadow:4px 4px 5px rgba(240,240,240,.3),
    -4px -4px 5px rgba(250,250,250,.3), inset 6px 6px 6px rgba(225,225,225,.3), inset -6px -6px 6px rgba(224,224,224,.3);

        font-size:2em;
       z-index:4;
       position:absolute; font-family:'Merianda',serif;
        display:flex;
        flex-flow:column wrap;
        align-items:center;
        justify-content:center;
        width:100%;
        height:100vh;
        
}
.Limg{
    width:80%;
    height: auto;
}

